@charset "UTF-8";

.overlay{background-color: var(--c0);color: #fff;position: fixed;top: 0;width: 100%;height: 100%;left: 0;z-index: 50;overflow: auto;padding: 50rem;}
.overlay-inner{margin: 0 auto;width: 100%;max-width: 500rem;border-radius: var(--br);display: flex;}

.p1 .overlay-inner{overflow: hidden;}
.p1-1{display: flex;flex-direction: column;align-items: center;width: 100%;padding: 30rem;background-color: var(--c1);background-image: url(../img/brain_2_x3.png);background-repeat: no-repeat;background-position: -280rem top;background-size: auto 100%;position: relative;min-height: 100%;}
.p1-1::before{content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.2);-webkit-backdrop-filter: blur(19px);backdrop-filter: blur(19px);}
.p1-2{width: 115rem;height: 100rem;position: relative;}
.p1-3{position: relative;margin-top: 15rem;font-size: var(--f-l1);display: flex;flex-wrap: wrap;align-items: baseline;max-width: 330rem;margin-left: auto;}
.p1-3-1{-webkit-backdrop-filter: blur(45px);backdrop-filter: blur(45px);background-color: rgba(255, 255, 255, 0.16);font-weight: 700;font-size: var(--f-l0);margin-left: auto;padding: 10rem 30rem 10rem 20rem;margin-right: -30rem;border-radius: 30rem 0 0 30rem;line-height: 1;}
.p1-3-2{-webkit-backdrop-filter: blur(45px);backdrop-filter: blur(45px);padding: 10rem 10rem 0 10rem;background-color: rgba(255, 255, 255, 0.16);border-radius: 12rem;}
.p1-3-3{}
.p1-3-4{-webkit-backdrop-filter: blur(45px);backdrop-filter: blur(45px);padding: 0 20rem 10rem 10rem;background-color: rgba(255, 255, 255, 0.16);border-radius: 12rem;margin-right: -10rem;}
.p1-4{position: relative;margin-top: 60rem;display: flex;align-items: center;justify-content: flex-end;width: 100%;}
.p1-4 ._title{opacity: .5;font-size: var(--f-s);}
.p1-4 ._icon{height: 60rem;width: 135rem;display: flex;padding: 10rem;align-items: center;justify-content: center;border-radius: 999rem;border: 1rem solid var(--c3);margin-left: 20rem;}
.p1-5{position: relative;margin-top: 15rem;width: 100%;}
.p1-6{position: relative;display: grid;width: 100%;grid-gap: 20rem;grid-template-columns: auto;}
.p1-7 .textfield-input{border-width: 0;background-color: rgba(0,0,0,.2);}
.p1-8{width: 90rem;height: 90rem;background-color: var(--c3);color: #000;border-radius: 50%;margin-top: -35rem;margin-left: auto;position: relative;}
.p1-9{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;position: relative;}
.p1-10{position: relative;margin-top: 50rem;text-align: center;}
.p1-11{position: relative;margin-top: 30rem;text-align: center;opacity: .5;font-size: var(--f-xs);}
.p1-12{}

.p2 .overlay-inner{overflow: hidden;}
.p2-1{width: 100%;padding: 30rem 20rem;background-image: url(../img/a5e156360aa1c7991380314af9bdf071%201.png);background-repeat: no-repeat;background-position: top center;background-size: cover;position: relative;min-height: 100%;}
.p2-2{display: flex;align-items: center;justify-content: space-between;padding: 0 15rem;}
.p2-3{margin-top: 40rem;margin-bottom: auto;border-radius: var(--br);box-shadow: inset 0 0 0 1rem rgba(255,255,255,.5);padding: 15rem;background-color: rgba(0, 0, 0, 0.20);-webkit-backdrop-filter: blur(75px);backdrop-filter: blur(75px);}
.p2-4{margin-top: 10rem;display: flex;align-items: flex-start;width: 100%;height: 0;position: relative;z-index: 2;height: 50rem;}
.p2-5{width: 60rem;height: 60rem;position: relative;z-index: 1;margin: -30rem auto;}
.p2-6{padding: 20rem 15rem 35rem;border-radius: 15rem;background-color: rgba(0,0,0,.5);box-shadow: inset 0 0 0 1rem var(--c3);}
.p2-6-1{}
.p2-6-2{margin-top: 80rem;font-size: var(--f-l6);line-height: .66;}
.p2-6-3{text-align: center;text-transform: uppercase;color: var(--c3);font-size: var(--f-l0);}
.p2-6-4{font-size: var(--f-s);text-align: center;margin-top: 15rem;}
.p2-6-5{width: 90rem;height: 90rem;background-color: var(--c3);color: #000;border-radius: 50%;margin: 20rem auto -60rem;position: relative;}
.p2-6-5 .icon{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.p2-7{font-size: var(--f-xs);font-weight: 200;margin-top: 5rem;text-align: center;}
.p2-8{margin-top: 40rem;color: var(--c7);}
.p2-9{margin-top: 15rem;padding: 15rem 20rem;border-radius: var(--br);background-color: rgba(212, 185, 255, 0.20);}
.p2-10{margin-top: 75rem;display: flex;justify-content: flex-end;}
.p2-10 .button-text{font-size: var(--f-d);font-family: 'Monument Extended', sans-serif;}
.p2-10 .button:not(:disabled){background-color: var(--c3);color: #000;}
.p2-11{font-size: var(--f-xs);font-weight: 200;}
.p2-12{font-size: var(--f-b);font-weight: 200;margin-top: 10rem;height: 40rem;}
.p2-13{position: absolute;top: 0;left: 0;opacity: .1;font-size: var(--f-l6);padding: 10rem 20rem;line-height: 1.2;word-break: break-all;width: 100%;}
.p2-13 > div:nth-child(even){text-align: right;}
.p2-14{position: relative;min-height: calc(100vh - 100rem);display: flex;flex-direction: column;}
.p2-15{cursor: pointer;width: 15rem;height: 15rem;position: relative;}
.p2-15 .icon{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.p2-16{display: flex;justify-content: flex-end;}
.p2-17{}
.p2-17-1{text-align: center;font-weight: 700;margin-top: 35rem;font-size: var(--f-l3);}
.p2-17-2{text-align: center;color: var(--c3);margin-top: 15rem;font-size: var(--f-l0);}
.p2-17-3{margin-top: 35rem;text-align: center;color: var(--c8);}
.p2-17-4{width: 145rem;height: 130rem;position: relative;margin: 15rem auto 0;}
.p2-17-5{margin: 10rem 0 0;display: grid;grid-gap: 20rem;grid-template-columns: 1fr auto 1fr;font-size: var(--f-s);align-items: center;padding: 5rem;}
.p2-17-5::before{content: "";}
.p2-17-5 ._icon{color: var(--c3);position: relative;display: flex;justify-content: flex-end;}
.p2-17-5 ._icon .icon{width: 16rem;height: 20rem;}
.p2-18{background: rgba(0, 0, 0, 0.20);-webkit-backdrop-filter: blur(75px);backdrop-filter: blur(75px);position: absolute;bottom: 0;left: 0;width: 100%;padding: 40rem 15rem 50rem;border-radius: var(--br);border: 1rem solid rgba(255,255,255,.2);display: flex;flex-direction: column;transform: translateY(calc(100% - 50rem));transition: transform .5s;will-change: transform;}
.p2-18::before{content: "";position: absolute;top: 16rem;left: 50%;width: 36rem;height: 4rem;margin: -1rem 0 0 -18rem;background-color: rgba(255,255,255,.5);border-radius: 999rem;}
.p2-18.active{transform: translateY(0);}
.p2-19{display: inline-flex;margin: 0 auto;border-radius: 999rem;padding: 5rem 10rem;text-transform: uppercase;cursor: pointer;border: 1rem solid var(--c3);color: #fff;}
.p2-20{display: grid;width: 100%;grid-gap: 20rem;margin-top: 50rem;}
.p2-21{padding: 25rem 20rem;border: 1rem solid rgba(255,255,255,.5);border-radius: 12rem;background-color: rgba(0,0,0,.5);display: flex;flex-direction: column;}
.p2-22{display: inline-grid;margin: -15rem -10rem 5rem auto;grid-gap: 2rem;grid-auto-flow: column;}
.p2-23{opacity: .85;}
.p2-24{font-size: var(--f-xs);opacity: .85;margin-top: 5rem;}

.selectbox{position: relative;display: inline-flex;}
.selectbox-holder{display: inline-flex;align-items: center;padding: 0 30rem;position: relative;min-width: 92rem;border: 1rem solid;border-radius: 999rem;min-height: 30rem;}
.selectbox-holder-value{font-size: var(--f-s);}
.selectbox-holder-icon{position: absolute;top: 0;right: 10rem;width: 10rem;height: 100%;}
.selectbox-holder-icon .icon{position: absolute;top: 50%;left: 0;width: 10rem;height: 5rem;margin-top: -2.5rem;}
.selectbox select{position: absolute;opacity: 0;width: 100%;height: 100%;left: 0;top: 0;}

.bank{width: 40rem;height: 25rem;background-color: #fff;display: inline-flex;padding: 5rem;border-radius: 12rem;box-shadow: 0rem 13rem 24rem 0rem rgba(0, 0, 0, 0.11);justify-content: center;align-items: center;}
.bank::before{content: "";background-repeat: no-repeat;background-size: contain;background-position: center;width: 100%;height: 100%;}
.bank__vs::before{background-image: url(../img/visa.svg);}
.bank__mc::before{background-image: url(../img/mastercard.svg);}

@media screen and (max-width: 1023.98px) {
 
    .overlay{padding: 0;min-height: 100vh;}
    .overlay-inner{border-radius: 0;min-height: 100vh;}
    
}